/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

html,
body {
    height: 100%;
}

/* Global body styles */
body {
    font-family: var(--font-body2);
    font-size: 1.6em;
}

/* Typography */
h1,
h2,
h3 {
    font-family: var(--font-header2);
    /* font-family: Crumb, sans-serif; */
    /* letter-spacing: -0.05em; */
    text-transform: uppercase;
}

h1 {
    font-size: 8rem;
    font-weight: 900;
    letter-spacing: 2px;
    text-align: center;
    margin: var(--space-sm);
    line-height: 1;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 2.8rem;
    letter-spacing: .08em;
}

h4 {
    font-size: 1.5rem;
    margin-bottom: var(--space-sm);
}

a {
    text-decoration: none;
    color: #1789FC;
}

a:visited {
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

li {
    list-style: none;
}

.visible-link {
    color: #1789FC;
    font-size: inherit;
    text-decoration: underline;
}

.visible-link:hover {
    color: #1789FC;
}