.button,
.contact-form button {
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    font-family: var(--font-body);
    border-radius: 100px;
    border: 1px solid black;
    width: fit-content;
    background-color: black;
    color: white;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    margin: var(--space-md) var(--space-lg);
}

.button {
    font-size: 1.6rem;
    padding: var(--space-md) var(--space-lg);
}

.contact-form button {
    font-size: 1.2rem;
    padding: var(--space-sm) var(--space-lg);
}

.button:visited,
.contact-form button:visited {
    color: white;
}

.button:hover,
.contact-form button:hover {
    background-color: white;
    color: black;
    text-decoration: none;
    border: 1px solid black;
}

.button-container {
    display: flex;
    justify-content: center;    
}

