.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    background-color: #fff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    /* not sure if i want to keep this */
    height: fit-content;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 14px 24px rgba(0, 0, 0, 0.1);
}

.card-image {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.card-content {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card-header {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    font-family: "Obviously", sans-serif;
    text-align: center;
}

.card-header h3 {
    font-size: 1.6rem;
    font-weight: 700;
}

.pronouns {
    font-size: 0.95rem;
    font-style: italic;
    color: #777;
    font-family: var(--font-header);
}

.card-info {
    /* placeholder until we figure out logo */
    font-family: arial; 
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
}

.card-info p {
    margin: 0.5rem 0;
}

@media (max-width: 768px) {
    .card-image {
        width: 250px;
        height: 300px;
        flex-shrink: 0;
        margin: 0 auto;
        border-radius: 8px;
    }

    .card-header h3 {
        font-size: 1.8rem;
        letter-spacing: 1.2px;
    }

    .card-info p {
        margin: 0.2em 0;
        font-size: .9em;
    }

}