@import './styles/variables.css';
@import './styles/base.css';
@import './styles/main-content.css';
@import './styles/split-text.css';
@import './styles/role-card.css';
@import './styles/navbar.css';
@import './styles/footer.css';
@import './styles/button.css';
@import './styles/fonts.css';
@import './styles/form.css'